body {
  font-family: 'Roboto', sans-serif;
}

.noMargin {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.Modal-modal-0-1-3{
  width: 800px !important;
}

.flow-text {
  font-size: 1.28rem !important;
}
